---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
---

<StarlightPage frontmatter={{ title: 'Codemarks' }}>
  <p>This is a custom page with a custom component:</p>
</StarlightPage>